---
import SEOHead from '../components/SEOHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

export interface Props {
  title?: string;
  description?: string;
  image?: string;
  type?: string;
}

const { title, description, image, type } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <SEOHead title={title} description={description} image={image} type={type} />
  <body>
    <Header />
    <main class="flex-grow w-full">
      <slot />
    </main>
    <Footer />
  </body>
</html>
